<a href="https://colab.research.google.com/github/huynhhoc/phantichdulieu/blob/main/Huongdan/Lab01_demo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Series

The series is a pandas library object that is used to represent one-dimensional data structures that are similar to arrays but have some additional capabilities. Its underlying structure is straightforward, consisting of two arrays linked together. The main array contains the data (of any NumPy type) to which each element is assigned a label, which is contained within the other array (index)

![image.png]()

**Example 1:**

In [4]:
arr = [12,-4,7,9]

In [5]:
type(arr)

list

In [6]:
arr[0]

12

Ghi ch√∫

In [7]:
import pandas as pd
s = pd.Series(arr)
print (s)

0    12
1    -4
2     7
3     9
dtype: int64

In [8]:
type(s)

pandas.core.series.Series

**Example 2:**

In [9]:
import pandas as pd
s2 = pd.Series([12,-4,7,9], index=['a', 'b', 'c', 'd'])
print (s2)

a    12
b    -4
c     7
d     9
dtype: int64

Get values/index from s

In [10]:
s2.values

array([12, -4,  7,  9])

In [11]:
s2.index

Index(['a', 'b', 'c', 'd'], dtype='object')

# DataFrame
In contrast to series, which have an index array containing labels for each element, the dataframe contains two index arrays. The functions of the first index array, which is related with the lines, are quite similar to those of the index array in series. In reality, each label corresponds to all of the values in the row. The second array has a sequence of labels, each of which is connected with a certain column.

A dataframe may alternatively be thought of as a dict of series, with the keys being the column names and the values being the series that will comprise the dataframe's columns. Furthermore, each series' elements are mapped according to an array of labels known as the index.

**Example 3**:

In [12]:
data ={'color' : ['blue', 'green', 'yellow', 'red', 'white'],
	'object': ['ball', 'pen', 'pencil', 'paper', 'mug'],
	'price': [1.2, 1.0, 0.6,0.9,1.7]}
frame = pd.DataFrame(data)
frame

    color  object  price
0    blue    ball    1.2
1   green     pen    1.0
2  yellow  pencil    0.6
3     red   paper    0.9
4   white     mug    1.7

In [13]:
frame.color

0      blue
1     green
2    yellow
3       red
4     white
Name: color, dtype: object

In [14]:
frame['color']

0      blue
1     green
2    yellow
3       red
4     white
Name: color, dtype: object

In [15]:
type(data)

dict

**Example 4**:

In [16]:
frame2 = pd.DataFrame (frame, columns = ['object', 'price'])
frame2

   object  price
0    ball    1.2
1     pen    1.0
2  pencil    0.6
3   paper    0.9
4     mug    1.7

**Example 5**:

In [17]:
frame2['type'] ='normal'
frame2

   object  price    type
0    ball    1.2  normal
1     pen    1.0  normal
2  pencil    0.6  normal
3   paper    0.9  normal
4     mug    1.7  normal

In [18]:
len(frame2)

5

In [19]:
frame2['price'][0]

1.2

**Example 6**:

In [20]:
for i in range(len(frame2)):
  if frame2['price'][i] > 1.0:
    frame2.loc[i, 'type'] = 'good' #update ith of column type with a new value
frame2

   object  price    type
0    ball    1.2    good
1     pen    1.0  normal
2  pencil    0.6  normal
3   paper    0.9  normal
4     mug    1.7    good

**Example 7**:

In [21]:
frame2['discount'] = frame2['price']*0.02
frame2

   object  price    type  discount
0    ball    1.2    good     0.024
1     pen    1.0  normal     0.020
2  pencil    0.6  normal     0.012
3   paper    0.9  normal     0.018
4     mug    1.7    good     0.034

**Example 8**:

In [22]:
frame2['price_afterdiscount'] = frame2['price'] - frame2['discount']
frame2

   object  price    type  discount  price_afterdiscount
0    ball    1.2    good     0.024                1.176
1     pen    1.0  normal     0.020                0.980
2  pencil    0.6  normal     0.012                0.588
3   paper    0.9  normal     0.018                0.882
4     mug    1.7    good     0.034                1.666

# Read data from csv file

**Example 9**:

In [23]:
import pandas as pd
dulieuxettuyen = pd.read_csv("https://raw.githubusercontent.com/huynhhoc/phantichdulieu/main/Data/dulieuxettuyendaihoc.csv")

In [24]:
dulieuxettuyen.head(2)

   STT   T1   L1   H1   S1   V1   X1   D1  ...   N6  GT  DT   KV   DH1   DH2  DH3  KT
0    1  7.2  7.3  6.3  7.3  7.0  7.9  7.3  ...  5.9   F NaN  2NT  3.25  3.25  4.5  A1
1    2  5.4  3.9  3.9  4.0  5.4  5.4  5.3  ...  4.4   M NaN    1  6.00  4.00  3.5   C

[2 rows x 56 columns]

In [25]:
dulieuxettuyenKI = pd.DataFrame(dulieuxettuyen, columns=['T1',	'L1',	'H1',	'S1',	'V1',	'X1',	'D1',	'N1'])

In [26]:
dulieuxettuyenKI.columns

Index(['T1', 'L1', 'H1', 'S1', 'V1', 'X1', 'D1', 'N1'], dtype='object')

In [27]:
dulieuxettuyenKI.tail(3)

     T1   L1   H1   S1   V1   X1   D1   N1
97  8.8  5.5  7.4  7.7  6.2  7.3  8.1  4.5
98  2.7  1.8  3.4  5.3  4.5  7.9  4.9  3.8
99  4.1  5.2  4.9  5.3  5.5  5.4  7.2  5.4

Read data without header

In [28]:
import pandas as pd
dltuyensinh_withoutHeader = pd.read_csv("https://raw.githubusercontent.com/huynhhoc/phantichdulieu/main/Data/dulieuxettuyendaihoc.csv", header = None)
print (dltuyensinh_withoutHeader)

      0    1    2    3    4    5    6   ...  49   50   51    52    53    54  55
0    STT   T1   L1   H1   S1   V1   X1  ...  GT   DT   KV   DH1   DH2   DH3  KT
1      1  7.2  7.3  6.3  7.3    7  7.9  ...   F  NaN  2NT  3.25  3.25   4.5  A1
2      2  5.4  3.9  3.9    4  5.4  5.4  ...   M  NaN    1     6     4   3.5   C
3      3  5.6  6.8  7.2  7.5  4.3  7.4  ...   M  NaN    1     5  6.75     4   C
4      4  6.6  6.4  5.3  6.9  5.4  7.3  ...   M  NaN    1  4.25  4.25  5.25  D1
..   ...  ...  ...  ...  ...  ...  ...  ...  ..  ...  ...   ...   ...   ...  ..
96    96  8.6  6.9  7.4  8.8  7.6  5.8  ...   F  NaN    1  5.25   1.5  6.25   C
97    97  3.7  5.4    6  5.1  5.5  3.9  ...   F  NaN    1  5.25  3.75  4.75   C
98    98  8.8  5.5  7.4  7.7  6.2  7.3  ...   M  NaN  2NT     7     8     4   C
99    99  2.7  1.8  3.4  5.3  4.5  7.9  ...   M  NaN    1     5   3.5   5.5   C
100  100  4.1  5.2  4.9  5.3  5.5  5.4  ...   M  NaN  2NT  5.25   2.5  4.25   C

[101 rows x 56 columns]

**Read JSON**

when you have a dataframe and you need to convert it into a JSON file. So, define a dataframe and then call the to_json()
function on it, passing as an argument the name of the file that you want to create.

The converse is possible, using the read_json() with the name of the file passed as
an argument

**Example 10**:

In [29]:
import pandas as pd
import numpy as np
frame = pd.DataFrame(np.arange(16).reshape(4,4),
		index =['white', 'black', 'red','blue'],
		columns =['up', 'down', 'right', 'left'])
frame.to_json('frame.json')
#Read json-formatted data
jsonFrame = pd.read_json('frame.json')
print(jsonFrame)

       up  down  right  left
white   0     1      2     3
black   4     5      6     7
red     8     9     10    11
blue   12    13     14    15

**Example 11**:

In [30]:
import pandas as pd
example11 = pd.read_table('https://raw.githubusercontent.com/huynhhoc/DataAnalystDeepLearning/main/Data/example11.txt', sep='\D+', header=None, engine='python')
print (example11)

HTTPError: ignored

**Example 12**:

In [ ]:
import pandas as pd
example12 = pd.read_table('https://raw.githubusercontent.com/huynhhoc/DataAnalystDeepLearning/main/Data/example12.txt', sep=',', skiprows=[0,1,3,6])
print (example12)

**Example 13**:

white,red,blue,green,animal

1,5,2,3,cat

2,7,8,5,dog

3,3,6,7,horse

2,2,8,3,duck

4,4,2,1,mouse

In [ ]:
import pandas as pd
example13 = pd.read_table('https://raw.githubusercontent.com/huynhhoc/DataAnalystDeepLearning/main/Data/example13.txt', skiprows=[2], nrows=3)
print (example13)

# Filter - Dropna - Update

**Example 14**:

In [ ]:
import pandas as pd
import numpy as np
frame = pd.DataFrame(np.arange(16).reshape(4,4),index = ['red', 'blue', 'yellow','white'],columns = ['ball', 'pen', 'pencil', 'paper'])
print(frame)

In [ ]:
newframe = pd.DataFrame(frame, columns=['paper','pen'])
print(newframe)

**Example 14**: Set **NaN** for value less than 11

In [ ]:
filteredFrame = frame[frame < 11]
print(filteredFrame)

**Example 15**: Drop rows that contain any NaN value

In [ ]:
dropAllNaNFrame = filteredFrame.dropna()
print (dropAllNaNFrame)

**Example 16**: Drop rows that all of them are NaN

In [ ]:
dropNaNAllFrame = filteredFrame.dropna(how='all')
print(dropNaNAllFrame)

# Describe the missing data

**Example 17**: Describe the missing data

In [ ]:
filteredFrame.isnull().sum()

# Update for null value

**Example 18**: Set 0 for all NaN value

In [ ]:
print (filteredFrame)

In [ ]:
fillnazeroFrame = filteredFrame.fillna(0)
print(fillnazeroFrame)

**Example 19**: Write dataframe to csv file

There are two steps to save dataframe as csv file in google drive:

**Step 1**: mount google colab with google drive

**Step 2**: use to_csv('/drive/My Drive' + '/DataAnalyst/filename.csv') function to export this file into DataAnalyst folder.

Note: 
1. '**/drive/My Drive**': is constant.
2. **DataAnalyst** folder is an example of folder in your google drive

In [ ]:
from google.colab import drive
drive.mount('/drive')

In [ ]:
frame.to_csv('/drive/My Drive/DataAnalyst/lab01_example8.csv')

# Homeworks

D·ªØ li·ªáu dulieuxettuyendaihoc.csv ƒë∆∞·ª£c m√¥ t·∫£ nh∆∞ sau:
D·ªØ li·ªáu l∆∞u tr·ªØ ƒëi·ªÉm trung b√¨nh m√¥n, khu v·ª±c, kh·ªëi thi v√† ƒëi·ªÉm thi ƒë·∫°i h·ªçc c·ªßa 100 h·ªçc sinh.
-	T1, L1, H1, S1, V1, X1, D1, N1 l·∫ßn l∆∞·ª£t l√† ƒëi·ªÉm trung b√¨nh c√°c m√¥n To√°n, L√Ω, H√≥a, Sinh, VƒÉn, S·ª≠, ƒê·ªãa, Ngo·∫°i ng·ªØ nƒÉm l·ªõp 10
-	T2, L2, H2, S2, V2, X2, D2, N2 l·∫ßn l∆∞·ª£t l√† ƒëi·ªÉm trung b√¨nh c√°c m√¥n To√°n, L√Ω, H√≥a, Sinh, VƒÉn, S·ª≠, ƒê·ªãa, Ngo·∫°i ng·ªØ nƒÉm l·ªõp 11
-	T6, L6, H6, S6, V6, X6, D6, N6 l·∫ßn l∆∞·ª£t l√† ƒëi·ªÉm trung b√¨nh c√°c m√¥n To√°n, L√Ω, H√≥a, Sinh, VƒÉn, S·ª≠, ƒê·ªãa, Ngo·∫°i ng·ªØ nƒÉm l·ªõp 12
-	GT: Gi·ªõi t√≠nh
-	DT: D√¢n t·ªôc
-	KV, KT l·∫ßn l∆∞·ª£t l√† khu v·ª±c thi v√† kh·ªëi thi 
-	DH1, DH2, DH3 l·∫ßn l∆∞·ª£t l√† ƒëi·ªÉm thi ƒë·∫°i h·ªçc m√¥n 1, m√¥n 2, m√¥n 3

**S·ª≠ d·ª•ng Pandas ƒë·ªÉ th·ª±c hi·ªán c√°c y√™u c·∫ßu sau ƒë√¢y**:
1.	X√°c ƒë·ªãnh v√† ph√¢n lo·∫°i d·ªØ li·ªáu ƒë·ªãnh t√≠nh v√† ƒë·ªãnh l∆∞·ª£ng
2.	ƒê·ªãnh nghƒ©a c√°c thang ƒëo ph√π h·ª£p cho t·ª´ng bi·∫øn s·ªë
3.	S·ª≠ d·ª•ng Python ƒë·ªÉ t·∫£i d·ªØ li·ªáu l√™n ch∆∞∆°ng tr√¨nh v√† in ra m√†n h√¨nh 10 d√≤ng ƒë·∫ßu ti√™n v√† 10 d√≤ng cu·ªëi c√πng
4.	Th·ªëng k√™ d·ªØ li·ªáu thi·∫øu cho c·ªôt d√¢n t·ªôc v√† hi·ªáu ch·ªânh d·ªØ li·ªáu thi·∫øu nh∆∞ sau: M·∫∑c ƒë·ªãnh thi·∫øu th√¨ ƒëi·ªÅn gi√° tr·ªã 0.
**H∆∞·ªõng d·∫´n**
> L·∫≠p b·∫£ng t·∫ßn s·ªë, t·∫ßn su·∫•t ƒë·ªÉ kh·∫£o s√°t d·ªØ li·ªáu thi·∫øu, bao nhi√™u d·ªØ li·ªáu ri√™ng bi·ªát (pandas unique).

> Th·ª±c hi·ªán thay th·∫ø d·ªØ li·ªáu thi·∫øu b·∫±ng ph∆∞∆°ng ph√°p ƒëi·ªÅn d·ªØ li·ªáu 0

5.	Th·ªëng k√™ d·ªØ li·ªáu thi·∫øu cho bi·∫øn T1 v√† hi·ªáu ch·ªânh d·ªØ li·ªáu, l∆∞u √Ω vi·ªác thay th·∫ø d·ªØ li·ªáu thi·∫øu s·ª≠ d·ª•ng ph∆∞∆°ng ph√°p Mean.
**H∆∞·ªõng d·∫´n**

> L·∫≠p b·∫£ng t·∫ßn s·ªë, t·∫ßn su·∫•t ƒë·ªÉ kh·∫£o s√°t d·ªØ li·ªáu thi·∫øu.

> Th·ª±c hi·ªán thay th·∫ø d·ªØ li·ªáu thi·∫øu b·∫±ng ph∆∞∆°ng ph√°p Mean.

6.	H√£y th·ª±c hi·ªán x·ª≠ l√Ω l·∫ßn l∆∞·ª£t t·∫•t c·∫£ d·ªØ li·ªáu thi·∫øu cho c√°c bi·∫øn v·ªÅ ƒëi·ªÉm s·ªë c√≤n l·∫°i.
7.	T·∫°o c√°c bi·∫øn TBM1, TBM2, TBM3 t∆∞∆°ng ·ª©ng v·ªõi trung b√¨nh m√¥n c·ªßa c√°c nƒÉm l·ªõp 10, 11 v√† 12. 
‚Ä¢	C√¥ng th·ª©c t√≠nh: TBM = (T*2 + L + H + S + V*2 + X + D + N) / 10
8.	T·∫°o c√°c bi·∫øn x·∫øp lo·∫°i XL1, XL2 v√† XL3 d·ª±a tr√™n TBM1, TBM2 v√† TBM3 cho t·ª´ng nƒÉm l·ªõp 10, 11, 12 nh∆∞ sau:
‚Ä¢	Nh·ªè h∆°n 5.0 x·∫øp lo·∫°i: y·∫øu (k√≠ hi·ªáu l√† Y)
‚Ä¢	T·ª´ 5.0 ƒë·∫øn d∆∞·ªõi 6.5: trung b√¨nh (k√≠ hi·ªáu l√† TB)
‚Ä¢	T·ª´ 6.5 ƒë·∫øn d∆∞·ªõi 8.0: kh√° (k√≠ hi·ªáu l√† K)
‚Ä¢	T·ª´ 8.0 ƒë·∫øn d∆∞·ªõi 9.0: gi·ªèi (k√≠ hi·ªáu l√† G)
‚Ä¢	T·ª´ 9.0 tr·ªü l√™n: xu·∫•t s·∫Øc (k√≠ hi·ªáu l√† XS)
9.	T·∫°o c√°c bi·∫øn US_TBM1, US_TBM2 v√† US_TBM3 ƒë·ªÉ chuy·ªÉn ƒëi·ªÉm trung b√¨nh c√°c nƒÉm l·ªõp 10, 11 v√† 12 t·ª´ thang ƒëi·ªÉm 10 c·ªßa Vi·ªát Nam sang thang ƒëi·ªÉm 4 c·ªßa M·ªπ. S·ª≠ d·ª•ng ph∆∞∆°ng ph√°p Min-Max Normalization
10.	T·∫°o bi·∫øn k·∫øt qu·∫£ x√©t tuy·ªÉn (k√≠ hi·ªáu l√† KQXT) nh·∫±m x√°c ƒë·ªãnh sinh vi√™n ƒë·∫≠u (gi√° tr·ªã ‚Äú1‚Äù) v√† r·ªõt (gi√° tr·ªã ‚Äú0‚Äù) v√†o c√°c kh·ªëi d·ª±a tr√™n ƒëi·ªÉm DH1, DH2 v√† DH3 nh∆∞ sau
‚Ä¢	V·ªõi kh·ªëi A, A1 n·∫øu [(DH1*2 + DH2 + DH3)/4] l·ªõn h∆°n ho·∫∑c b·∫±ng 5.0 th√¨ ƒë·∫≠u, ng∆∞·ª£c l·∫°i l√† r·ªõt
‚Ä¢	V·ªõi kh·ªëi B n·∫øu [(DH1 + DH2*2 + DH3)/4] l·ªõn h∆°n ho·∫∑c b·∫±ng 5.0 th√¨ ƒë·∫≠u, ng∆∞·ª£c l·∫°i l√† r·ªõt
‚Ä¢	V·ªõi kh·ªëi kh√°c n·∫øu [(DH1+ DH2 + DH3)/3] l·ªõn h∆°n ho·∫∑c b·∫±ng 5.0 th√¨ ƒë·∫≠u, ng∆∞·ª£c l·∫°i l√† r·ªõt
11.	L∆∞u tr·ªØ d·ªØ li·ªáu xu·ªëng ·ªï ƒëƒ©a th√†nh file processed_dulieuxettuyendaihoc.csv